# Sample configuration file for retrogame.
# Really minimal syntax, typically two elements per line w/space delimiter:
# 1) a key name (from keyTable.h; shortened from /usr/include/linux/input.h).
# 2) a GPIO pin number; when grounded, will simulate corresponding keypress.
# Uses Broadcom pin numbers for GPIO.
# If first element is GND, the corresponding pin (or pins, multiple can be
# given) is a LOW-level output; an extra ground pin for connecting buttons.
# A '#' character indicates a comment to end-of-line.
# File can be edited "live," no need to restart retrogame!

# Here's a pin configuration for the PiGRRL Zero project:
 
LEFT       0  # Joypad left mod
RIGHT     13  # Joypad right mod
DOWN       6  # Joypad down mod
UP        19  # Joypad up mod
Z         22  # 'A' button mod
X         17  # 'B' button mod
A          4  # 'X' button mod
S         27  # 'Y' button mod
Q         20  # Left shoulder button - not included
W         21  # Right shoulder button - not included
ESC       5 26  # Exit ROM; 
LEFTCTRL  26  # 'Select' button
ENTER     5  # 'Start' button mod

# For configurations with few buttons (e.g. Cupcade), a key can be followed
# by multiple pin numbers.  When those pins are all held for a few seconds,
# this will generate the corresponding keypress (e.g. ESC to exit ROM).
# Only ONE such combo is supported within the file though; later entries
# will override earlier.